In [1]:
import pandas as pd

# Load your dataset
file_path = 'transactions(1).csv'  # Replace with your dataset file path
df = pd.read_csv(file_path)

# Display a summary of the dataset
print("Summary of the Dataset:")
print(df.info())  # Information about columns and data types

print("\nStatistical Summary:")
print(df.describe())  # Numerical statistical summary

print("\nFirst Few Rows:")
print(df.head())  # Display the first 5 rows

print("\nColumn-wise Missing Values:")
print(df.isnull().sum())  # Count of missing values per column

print("\nUnique Transactions (if applicable):")
if 'transaction_id' in df.columns:
    print(f"Number of Unique Transactions: {df['transaction_id'].nunique()}")

Summary of the Dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 528.0+ bytes
None

Statistical Summary:
       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

First Few Rows:
   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1

Column-wise Missing Values:
TransactionID      0
TransactionDate    0
UserID             1
ProductID          0
Quantity           0
dtype: int64

Unique Transactions (if applicable):

In [2]:
import pandas as pd

# Load your dataset
file_path = 'transactions(1).csv'  # Replace with your dataset file path
df = pd.read_csv(file_path)

# Print the number of attributes (columns)
print(f"Number of attributes (columns) in the dataset: {df.shape[1]}")

Number of attributes (columns) in the dataset: 5

In [4]:
import pandas as pd

# Load your dataset
file_path = 'transactions(1).csv'  # Replace with your dataset file path
df = pd.read_csv(file_path)

# Print the number of records (rows)
print(f"Number of records (rows) in the dataset: {df.shape[0]}")

Number of records (rows) in the dataset: 10

In [5]:
import pandas as pd

# Load your dataset
file_path = 'transactions(1).csv'  # Replace with your dataset file path
df = pd.read_csv(file_path)

# Get the row names (indices)
row_names = df.index

# Print the row names
print("Row names (indices) in the dataset:")
print(row_names.tolist())

Row names (indices) in the dataset:
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
import pandas as pd

# Load your dataset
file_path = 'transactions(1).csv'  # Replace with your dataset file path
df = pd.read_csv(file_path)

# Get the column names
column_names = df.columns

# Print the column names
print("Column names in the dataset:")
print(column_names.tolist())

Column names in the dataset:
['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity']

In [8]:

# View the top 10 records
print("Top 10 records in the dataset:")
print(df.head(10))

Top 10 records in the dataset:
   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [9]:
# Rename the column "Quantity" to "Quant"
df.rename(columns={"Quantity": "Quant"}, inplace=True)

# Print the updated DataFrame to verify
print("Updated DataFrame with renamed column:")
print(df.head())

Updated DataFrame with renamed column:
   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1

In [12]:
df.rename(columns={"ProductID": "PID","UserID": "UID"},inplace=True)
print("Updated DataFrame with renamed column:")
print(df.head())

Updated DataFrame with renamed column:
   TransactionID TransactionDate  UID  PID  Quant
0              1      2010-08-21  7.0    2      1
1              2      2011-05-26  3.0    4      1
2              3      2011-06-16  3.0    3      1
3              4      2012-08-26  1.0    2      3
4              5      2013-06-06  2.0    4      1

In [15]:
# Sort rows by TransactionId in descending order
df_descending = df.sort_values(by="TransactionID", ascending=False)

# Print the sorted DataFrame (Descending)
print("Transactions sorted by TransactionId in descending order:")
print(df_descending.head())

# Sort rows by TransactionId in ascending order (if ascending=True)
df_ascending = df.sort_values(by="TransactionID", ascending=True)

# Print the sorted DataFrame (Ascending)
print("\nTransactions sorted by TransactionId in ascending order:")
print(df_ascending.head())

Transactions sorted by TransactionId in descending order:
   TransactionID TransactionDate  UID  PID  Quant
9             10      2016-05-08  3.0    4      4
8              9      2015-04-24  7.0    4      3
7              8      2014-04-24  NaN    2      3
6              7      2013-12-30  3.0    4      1
5              6      2013-12-23  2.0    5      6

Transactions sorted by TransactionId in ascending order:
   TransactionID TransactionDate  UID  PID  Quant
0              1      2010-08-21  7.0    2      1
1              2      2011-05-26  3.0    4      1
2              3      2011-06-16  3.0    3      1
3              4      2012-08-26  1.0    2      3
4              5      2013-06-06  2.0    4      1

In [20]:

# Sort rows by "Quant" in descending order
df_descending = df.sort_values(by="Quant", ascending=False)

# Print the sorted DataFrame (Descending)
print("Transactions sorted by Quant in descending order:")
print(df_descending.head())

# Sort rows by "TransactionDate" in descending order
df_date_descending = df.sort_values(by="TransactionDate", ascending=False)

# Print the sorted DataFrame (Descending by TransactionDate)
print("\nTransactions sorted by TransactionDate in descending order:")
print(df_date_descending.head())

Transactions sorted by Quant in descending order:
   TransactionID TransactionDate  UID  PID  Quant
5              6      2013-12-23  2.0    5      6
9             10      2016-05-08  3.0    4      4
8              9      2015-04-24  7.0    4      3
3              4      2012-08-26  1.0    2      3
7              8      2014-04-24  NaN    2      3

Transactions sorted by TransactionDate in descending order:
   TransactionID TransactionDate  UID  PID  Quant
9             10      2016-05-08  3.0    4      4
8              9      2015-04-24  7.0    4      3
7              8      2014-04-24  NaN    2      3
6              7      2013-12-30  3.0    4      1
5              6      2013-12-23  2.0    5      6

In [22]:

# Make "UserID" the first column
columns = ['UID'] + [col for col in df.columns if col != 'UID']
df = df[columns]

# Print the updated DataFrame to verify
print("DataFrame with 'UserID' as the first column:")
print(df.head())

DataFrame with 'UserID' as the first column:
   UID  TransactionID TransactionDate  PID  Quant
0  7.0              1      2010-08-21    2      1
1  3.0              2      2011-05-26    4      1
2  3.0              3      2011-06-16    3      1
3  1.0              4      2012-08-26    2      3
4  2.0              5      2013-06-06    4      1

In [32]:

# Extract the 2nd column
second_column = df.iloc[:, 1]  # Select column by index (1-based index = 2nd column)

# Convert to an array if needed
second_column_array = second_column.values

# Print the extracted column and array
print("Extracted 2nd column as Series:")
print(second_column)
print("\nExtracted 2nd column as an array:")
print(second_column_array)

Extracted 2nd column as Series:
0    2010-08-21
1    2011-05-26
2    2011-06-16
3    2012-08-26
4    2013-06-06
5    2013-12-23
6    2013-12-30
7    2014-04-24
8    2015-04-24
9    2016-05-08
Name: TransactionDate, dtype: object

Extracted 2nd column as an array:
['2010-08-21' '2011-05-26' '2011-06-16' '2012-08-26' '2013-06-06'
 '2013-12-23' '2013-12-30' '2014-04-24' '2015-04-24' '2016-05-08']

In [36]:
import pandas as pd

# Load your dataset
file_path = 'transactions(1).csv'  # Replace with your dataset file path
df = pd.read_csv(file_path)

# Task 14: Get the ProductID array
product_id_array = df['ProductID'].values
print("ProductID Array:")
print(product_id_array)

# Task 15: Get the ProductID array using the variable
product_id_array_var = df.loc[:, 'ProductID'].values  # Alternative method
print("\nProductID Array using variable:")
print(product_id_array_var)

# Task 16: Subset rows 1, 3, and 6
subset_1_3_6 = df.iloc[[0, 2, 5]]
print("\nRows 1, 3, and 6:")
print(subset_1_3_6)

# Task 17: Subset rows excluding 1, 3, and 6
subset_exclude_1_3_6 = df.drop([0, 2, 5])
print("\nRows excluding 1, 3, and 6:")
print(subset_exclude_1_3_6)

# Task 18: Subset the first three rows
subset_first_3 = df.iloc[:3]
print("\nFirst three rows:")
print(subset_first_3)

# Task 19: Subset the last two rows
subset_last_2 = df.iloc[-2:]
print("\nLast two rows:")
print(subset_last_2)

# Task 20: Subset rows excluding the last two rows
subset_exclude_last_2 = df.iloc[:-2]
print("\nRows excluding the last two:")
print(subset_exclude_last_2)

# Task 21: Subset rows excluding the first three rows
subset_exclude_first_3 = df.iloc[3:]
print("\nRows excluding the first three:")
print(subset_exclude_first_3)

# Task 22: Subset rows where Quantity > 1
subset_quantity_gt_1 = df[df['Quantity'] > 1]  # Replace 'Quant' with the correct column name
print("\nRows where Quantity > 1:")
print(subset_quantity_gt_1)

# Task 23: Subset rows where UserID = 2
subset_userid_2 = df[df['UID'] == 2]
print("\nRows where UserID = 2:")
print(subset_userid_2)

# Task 24: Subset rows where Quantity > 1 and UserID = 2
subset_quantity_gt_1_and_userid_2 = df[(df['Quantity'] > 1) & (df['UID'] == 2)]
print("\nRows where Quantity > 1 and UserID = 2:")
print(subset_quantity_gt_1_and_userid_2)

ProductID Array:
[2 4 3 2 4 5 4 2 4 4]

ProductID Array using variable:
[2 4 3 2 4 5 4 2 4 4]

Rows 1, 3, and 6:
   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
5              6      2013-12-23     2.0          5         6

Rows excluding 1, 3, and 6:
   TransactionID TransactionDate  UserID  ProductID  Quantity
1              2      2011-05-26     3.0          4         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

First three rows:
   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1

Last two rows:
   TransactionID TransactionDate  UserID  ProductID  Quantity
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

Rows excluding the last two:
   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3

Rows excluding the first three:
   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

Rows where Quantity > 1:
   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

KeyError: 'UID'

In [40]:
import pandas as pd
import numpy as np

# Load your dataset
file_path = 'transactions(1).csv'  # Replace with your dataset file path
df = pd.read_csv(file_path)

# Task 25: Subset rows where Quantity + UserID is > 3
subset_quantity_userid_gt_3 = df[(df['Quantity'] + df['UserID']) > 3]
print("\nRows where Quantity + UserID > 3:")
print(subset_quantity_userid_gt_3)

# Task 26: Subset rows where an external array, foo, is True
foo = [True if i % 2 == 0 else False for i in range(len(df))]
subset_foo_true = df[foo]
print("\nRows where foo is True:")
print(subset_foo_true)

# Task 27: Subset rows where an external array, bar, is positive
bar = np.random.randint(-10, 10, len(df))  # Example bar array
subset_bar_positive = df[bar > 0]
print("\nRows where bar is positive:")
print(subset_bar_positive)

# Task 28: Subset rows where foo is TRUE or bar is negative
subset_foo_or_bar_negative = df[np.logical_or(foo, bar < 0)]
print("\nRows where foo is True or bar is negative:")
print(subset_foo_or_bar_negative)

# Task 29: Subset rows where foo is not TRUE and bar is not negative
subset_not_foo_and_not_bar_negative = df[np.logical_and(~np.array(foo), bar >= 0)]
print("\nRows where foo is not True and bar is not negative:")
print(subset_not_foo_and_not_bar_negative)

# Task 30: Subset by columns 1 and 3
subset_columns_1_3 = df.iloc[:, [0, 2]]
print("\nSubset by columns 1 and 3:")
print(subset_columns_1_3)

# Task 31: Subset by columns TransactionID and TransactionDate
subset_transaction_columns = df[['TransactionID', 'TransactionDate']]
print("\nSubset by columns TransactionID and TransactionDate:")
print(subset_transaction_columns)

# Task 32: Subset by columns TransactionID and TransactionDate with logical operator
subset_transaction_with_logic = df.loc[df['TransactionID'] > 1, ['TransactionID', 'TransactionDate']]
print("\nSubset by columns TransactionID and TransactionDate with logical operator:")
print(subset_transaction_with_logic)

# Task 33: Subset columns by a variable list of column names
columns_list = ['TransactionID', 'Quantity']
subset_by_variable_list = df[columns_list]
print("\nSubset columns by a variable list of column names:")
print(subset_by_variable_list)

# Task 34: Subset columns excluding a variable list of column names
exclude_columns_list = ['TransactionID', 'Quantity']
subset_excluding_list = df.drop(columns=exclude_columns_list)
print("\nSubset columns excluding a variable list of column names:")
print(subset_excluding_list)

# Task 35: Inserting and updating values
df['UpdatedQuant'] = df['Quantity'] * 2  # Example: Update Quant column
print("\nDataFrame after inserting/updating a column:")
print(df.head())

# Task 36: Convert the TransactionDate column to type Date
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])
print("\nTransactionDate column converted to Date type:")
print(df.dtypes)

# Task 37: Insert a new column, Foo = UserID + ProductID
df['Foo'] = df['UserID'].astype(str) + "_" + df['ProductID'].astype(str)
print("\nDataFrame after adding Foo column:")
print(df.head())

Rows where Quantity + UserID > 3:
   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

Rows where foo is True:
   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3

Rows where bar is positive:
   TransactionID TransactionDate  UserID  ProductID  Quantity
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3

Rows where foo is True or bar is negative:
   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

Rows where foo is not True and bar is not negative:
   TransactionID TransactionDate  UserID  ProductID  Quantity
7              8      2014-04-24     NaN          2         3

Subset by columns 1 and 3:
   TransactionID  UserID
0              1     7.0
1              2     3.0
2              3     3.0
3              4     1.0
4              5     2.0
5              6     2.0
6              7     3.0
7              8     NaN
8              9     7.0
9             10     3.0

Subset by columns TransactionID and TransactionDate:
   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

Subset by columns TransactionID and TransactionDate with logical operator:
   TransactionID TransactionDate
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

Subset columns by a variable list of column names:
   TransactionID  Quantity
0              1         1
1              2         1
2              3         1
3              4         3
4              5         1
5              6         6
6              7         1
7              8         3
8              9         3
9             10         4

Subset columns excluding a variable list of column names:
  TransactionDate  UserID  ProductID
0      2010-08-21     7.0          2
1      2011-05-26     3.0          4
2      2011-06-16     3.0          3
3      2012-08-26     1.0          2
4      2013-06-06     2.0          4
5      2013-12-23     2.0          5
6      2013-12-30     3.0          4
7      2014-04-24     NaN          2
8      2015-04-24     7.0          4
9      2016-05-08     3.0          4

DataFrame after inserting/updating a column:
   TransactionID TransactionDate  UserID  ProductID  Quantity  UpdatedQuant
0              1      2010-08-21     7.0          2         1             2
1              2      2011-05-26     3.0          4         1             2
2              3      2011-06-16     3.0          3         1             2
3              4      2012-08-26     1.0          2         3             6
4              5      2013-06-06     2.0          4         1             2

TransactionDate column converted to Date type:
TransactionID               int64
TransactionDate    datetime64[ns]
UserID                    float64
ProductID                   int64
Quantity                    int64
UpdatedQuant                int64
dtype: object

DataFrame after adding Foo column:
   TransactionID TransactionDate  UserID  ProductID  Quantity  UpdatedQuant  \
0              1      2010-08-21     7.0          2         1             2
1              2      2011-05-26     3.0          4         1             2
2              3      2011-06-16     3.0          3         1             2
3              4      2012-08-26     1.0          2         3             6
4              5      2013-06-06     2.0          4         1             2

     Foo
0  7.0_2
1  3.0_4
2  3.0_3
3  1.0_2
4  2.0_4

In [34]:
print(df.columns)

Index(['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity'], dtype='object')